:root {
  --bg-color: #0b0c10;
  --text-color: #c5c6c7;
  --card-color: #1f2833;
}

body.light {
  --bg-color: #f7f7f7;
  --text-color: #333;
  --card-color: #ffffff;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.4s;
}

.dashboard {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section {
  background: var(--card-color);
  padding: 15px 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  margin: 0 0 10px 0;
}

button {
  background: #45a29e;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #66fcf1;
}

ul {
  padding-left: 20px;
}
.notes-section input {
  width: 70%;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.notes-section button {
  padding: 8px 12px;
  background: #45a29e;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.notes-section ul {
  list-style-type: none;
  padding: 0;
}

.notes-section li {
  background: var(--card-color);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notes-section li button {
  background: red;
  border: none;
  padding: 5px 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
}
